In [96]:
import pandas as pd

In [97]:
df = pd.read_csv('data.csv')

In [98]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   98.966974         1   89          0          -1              0
1  100.548629         1   97          0           1              1
2  101.741578         0   83          1           1              1
3   99.976929         0   69          1          -1              1
4  100.576333         1   30          0           0              0

In [99]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
3794  100.603738         1   55          1           0              1
3795  100.355147         1   45          1          -1              1
3796   99.047784         0   91          1          -1              1
3797  100.909013         0    8          1           0              0
3798   99.367599         0   10          0          -1              1

In [100]:
df['diffBreath'].value_counts()

 0    1314
 1    1270
-1    1215
Name: diffBreath, dtype: int64

In [101]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000
mean,99.979051,0.497236,50.584891,0.502764,0.014477,0.494604
std,1.151744,0.500058,28.796605,0.500058,0.808753,0.500037
min,98.000080,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.983638,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,99.960900,0.000000,50.000000,1.000000,0.000000,0.000000
75%,100.992795,1.000000,75.000000,1.000000,1.000000,1.000000
max,101.998084,1.000000,100.000000,1.000000,1.000000,1.000000

In [102]:
import numpy as np

In [103]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [104]:
train, test = data_split(df, ratio  = 0.2)

In [105]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
3796   99.047784         0   91          1          -1              1
734   100.917016         1   13          0           0              1
505   101.400540         1   51          0          -1              0
1905  100.855975         0   91          0           1              0
3161   98.894395         1    1          0           0              1
...          ...       ...  ...        ...         ...            ...
1130  100.391309         0   85          1           0              1
1294   98.780982         0   27          1           0              1
860    99.161745         1    6          0           1              0
3507  101.944114         1   97          1           0              1
3174  101.161284         0    5          0           1              0

[3040 rows x 6 columns]

In [106]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1070  100.422059         1   80          1           0              0
354   101.750783         1   61          0           0              1
881    98.069296         1   95          0          -1              1
196    98.300282         1   39          1           0              1
3195   98.686296         0   90          0           0              1
...          ...       ...  ...        ...         ...            ...
1480   99.926568         1   46          1           0              1
2957   99.327629         1   22          0           1              1
3569   99.415081         1   46          0          -1              1
3410  100.386219         1   16          0           1              1
246   100.760857         1   77          1           0              1

[759 rows x 6 columns]

In [107]:
X_train = train[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']]

In [108]:
X_train.to_numpy()

array([[ 99.04778404,   0.        ,  91.        ,   1.        ,
         -1.        ],
       [100.9170156 ,   1.        ,  13.        ,   0.        ,
          0.        ],
       [101.4005401 ,   1.        ,  51.        ,   0.        ,
         -1.        ],
       ...,
       [ 99.16174525,   1.        ,   6.        ,   0.        ,
          1.        ],
       [101.9441141 ,   1.        ,  97.        ,   1.        ,
          0.        ],
       [101.1612837 ,   0.        ,   5.        ,   0.        ,
          1.        ]])

In [109]:
X_test = train[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()

In [110]:
y_train = train[['infectionProb']].to_numpy().reshape(3040,)
y_test = test[['infectionProb']].to_numpy().reshape(759,)

In [111]:
y_train

array([1, 1, 0, ..., 0, 1, 0], dtype=int64)

In [112]:
from sklearn.linear_model import LogisticRegression

In [113]:
clf = LogisticRegression()
clf.fit(X_train, y_train)

C:\Users\dell\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [114]:
inputFeatures = [102,1,22,-2,1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [115]:
infProb

0.5743114779545919